/* .header-container
> .container-fluid
> .row
> .col
> div {
	background-image: url("../../../assets/images/header/header_intro.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	width: 100%;
	height: 615px;
}
 */

.d-block {
	height: 575px;
}

.caption
> h3 {
	font-weight: bold;
	font-size: 66px;
	color: var(--main-color-e6fe58);
}

.caption
> p {
	background-color: black;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	font-size: 24px;
	font-style: italic;
}

