.blog1 {
  padding: 60px 25px;
  justify-content: center;
  background-color: black;
}

.blog-inner1 {
  width: 100%;
  justify-content: center;
}

.blog-inner1 .card {
  max-width: 490px;
  margin: auto;
  padding: 5px 5px 5px 5px;
  background-color: #2a2828; /* Điều chỉnh kích thước chiều rộng tối đa của thẻ card */
}

.blog1 h1 {
  text-align: center;
  font-family:fantasy;
  letter-spacing: 3px;
  font-weight: normal;
  font-size: 2.5rem;
  color: #e6fe58;
  padding-left: 20px;
  padding-right: 40px;
}

.blog1 h2 {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: normal;
  font-size: 2.5rem;
  color: #ffffff;
  padding-left: 20px;
  padding-right: 40px;
}

.blog1 h3 {
  text-align: center;
  font-weight:bolder;
  font-size: 1.4rem;
  color: #ffffff;
}

.card-img
{
  vertical-align: middle;
}

.card-footer {
  display: flex;
  align-items: center;
}

.card-footer-content {
  display: flex;
  flex-direction: column;
}

.card-footer h4{
  display: flex;
  align-items:center;
  font-size: 15px;
  color: #ffffff;
  margin: 0;
  padding-top: 3px;
}

.card-footer h6{
 text-decoration:underline;
 font-style: italic;
 color: #e6fe58;
 margin: 0;
}

.card-footer img {
  margin-right: 10px;
  vertical-align: middle;
}

.card {
  transition: transform 0.4s ease;
}

.card:hover {
  transform: scale(1.05);
}

/* Breaking news */

.blog1 p {
  font-size: 1.15rem;
  line-height: 1.6;
  color: rgb(255, 255, 255);
  text-align: center;
}

.card-footer1
{
  background-color: #e6fe58;
  text-align: center;
}

.card-footer1 p {
  font-size: 1.15rem;
  font-weight: bolder;
  color: rgb(0, 0, 0);
  margin: auto;
}

.card-body {
  display: flex;
  flex-direction: column;
}

.card-title {
  font-size: 1.2rem;
  height: auto; /* Điều chỉnh chiều cao của tiêu đề */
}